<!--
<a class="custom-card">
<div class="card mx-auto mb-2 border primary bg-light">

    <div class="row no-gutters bg-secondary">
      <img src="{{game.imageUrl}}" class="card-img">
      <h4 class="card-title text-dark m-2">{{game.title | titlecase }}</h4>
      <div class="card-body p-3 bg-light">
          <div class="row no-gutters">
 <button class="btn btn-primary btn-sm mr-2">Rent</button>
            <button class="btn btn-light btn-sm">Edit</button>
          </div>
          <div class="row no-gutters text-primary">

          </div>
      </div>
    </div>

</div>
</a>
-->

<div class="card h-100">

  <div class="card-img-wrapper text-center border-bottom">
    <img class="card-img-top p-2 " src={{game.imageUrl}} alt={{game.title}}>
    <ul class="list-inline game-icons animate text-center">
      <li class="list-inline-item"><button class="btn btn-primary">Wypożycz</button></li>
      <li class="list-inline-item"><button class="btn btn-info" [routerLink]="['/games/', game.id]">Info</button></li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">{{game.title | titlecase}}</h5>
    <p class="text-center text-muted"><i class="fa fa-cube"></i>&nbsp;{{game.genre | titlecase}}</p>
    <div class="text-muted">
    <span class="card-text"><i class="fa fa-user"></i>&nbsp;<small class="text-muted">{{game.minPlayers}} -
        {{game.maxPlayers}}</small></span>
    <span class="card-text"><i class="fa fa-history"></i>&nbsp;<small class="text-muted">{{game.minPlayTime}} -
        {{game.maxPlayTime}}</small></span>
    <span class="card-text"><i class="fa fa-calendar"></i>&nbsp;<small class="text-muted">Od {{game.minAge}} lat</small></span>
    <span class="card-text"><i class="fa fa-cogs"></i>&nbsp;<small class="text-muted">{{game.complexity}}</small></span>
    </div>
  </div>
</div>

