<div class="containet mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{game.imageUrl}}" alt="{{game.title}}">
        <div class="card-body">
          <div>
            <strong>Gatunek:</strong>
            <p>{{game.genre}}</p>
          </div>
          <div>
            <strong>Liczba Graczy:</strong>
          <p>{{game.minPlayers}} - {{game.maxPlayers}}</p>
          </div>
          <div>
            <strong>Czas gry:</strong>
            <p>{{game.minPlayTime}} - {{game.maxPlayTime}}</p>
          </div>
          <div>
            <strong>Od lat:</strong>
            <p>{{game.minAge}}</p>
          </div>
          <div>
            <strong>Poziom trudności:</strong>
            <p>{{game.complexity}}</p>
          </div>
          <div>
            <strong>Data dodania:</strong>
            <p>{{game.addedDate}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
          <button class="btn btn-primary w-100">Button 1</button>
          <button class="btn btn-success w-100">Button 2</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">

    </div>
  </div>
</div>
